@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font: 19px/1.65 "Courier Prime", "Courier New", Courier, monospace;
  color: #595959;
  font-weight: 400;
}
