@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
</style>

body {
  font: 19px/1.65 "Ubuntu", sans-serif;
  color: #595959;
  font-weight: 400;
}
